* {
    padding        : 0;
    margin         : 0;
    box-sizing     : border-box;
    text-decoration: none;
    list-style     : none;
}

body {
    font-family: Cambria;
}

.main_container_admin {
    display  : flex;
    flex-wrap: wrap;
}

header {
    flex          : 1 20%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    position      : relative;
}

.home_link {
    position       : absolute;
    width          : 95%;
    display        : flex;
    justify-content: center;
    bottom         : 3em;
}

.logo {
    margin    : 1em 0;
    text-align: center;
}

.logo>img {
    width: 85%;
}

/* ######################## */
/* Menu Section Style Start */
/* ######################## */

.link_icon {
    width       : 15%;
    margin-right: .5em;
}

.admin_menu_list>li {
    display    : flex;
    align-items: center;
    cursor     : pointer;
    font-size  : 1.3em;
    padding    : 1em 3em 1em 2em;

}

li:hover {
    background: #F5F6FA;
}

.admin_menu_list>li>a:hover {
    color: black;
}

.link_icon:hover {
    color: red;

}

.heading_area {
    flex     : 1 80%;
    display  : flex;
    flex-flow: column;
}

.heading_title {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 2em;
    height         : 5em;
    font-size      : 1.4em;
}

.heading_title h3 {
    color: green
}

.interaction_area {
    background-color: #F4F7FC;
    height          : 90vh;
}

@media (max-width: 1080px) {
    .home_link {
        bottom: -4em;
    }
}